<h1>QuNaN</h1>

<form action="/users/:id" method="post">
	<input type="submit" value="Profile">
	<br></br>
</form>

<form action="/logout" method="post">
	<input type="submit" value="Log out">
	<br></br>
</form>
